{{ define "body-class" }}
    article-page
    {{/* 
        Enable the right sidebar if
            - Widget different from 'TOC' is enabled
            - TOC is enabled and not empty
    */}}
    {{- $HasWidgetNotTOC := false -}}
    {{- $TOCWidgetEnabled := false -}}
    {{- range .Site.Params.widgets.page -}}
        {{- if ne .type "toc" -}}
            {{ $HasWidgetNotTOC = true -}}
        {{- else -}}
            {{ $TOCWidgetEnabled = true -}}
        {{- end -}}
    {{- end -}}

    {{- $TOCManuallyDisabled := eq .Params.toc false -}}
    {{- $TOCEnabled := and (not $TOCManuallyDisabled) $TOCWidgetEnabled -}}
    {{- $hasTOC := ge (len .TableOfContents) 100 -}}
    {{- .Scratch.Set "TOCEnabled" (and $TOCEnabled $hasTOC) -}}
    
    {{- .Scratch.Set "hasWidget" (or $HasWidgetNotTOC (and $TOCEnabled $hasTOC)) -}}
{{ end }}

{{ define "main" }}
    {{ partial "article/articleNoHeader.html" . }}

    {{- $subsections := .Sections -}}
    {{- $pages := .Pages | complement $subsections -}}
    
    {{- if eq (len $pages) 0 -}}
        {{/* If there are no normal pages, display subsections in list style, with pagination */}}
        {{/* This happens with taxonomies like categories or tags */}}
        {{- $pages = $subsections -}}
        {{- $subsections = slice -}}
    {{- end -}}
    
    {{/* List only pages that are not a subsection */}}
    {{ $paginator := .Paginate $pages }}
    {{ range $paginator.Pages }}
    <!--<article class="main-article">
        <section class="article-content">-->
        
            {{ partial "article/articleNoHeader.html" . }}
        
    <!--</section>
    </article>-->
    {{ end }}

    {{- partial "pagination.html" . -}}

    {{ partialCached "footer/footer" . }}
{{ end }}

{{ define "right-sidebar" }}
    {{ partial "sidebar/right.html" (dict "Context" . "Scope" "homepage") }}
{{ end }}
